/*
headers:
font-family: 'IBM Plex Mono', monospace;
main content:
font-family: 'IBM Plex Sans', sans-serif;
links:
font-family: 'IBM Plex Serif', serif;
*/

body{
    background-color: #728189;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #728189;
}
a:hover{
    color: #e4d00a;
}

header{
    background-color: #213a45;
    text-align: center;
    padding: 10px;
}
header h1{
    font-family: 'IBM Plex Mono', monospace;
    color: #e4d00a;
    margin: 0;
}
header h2{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #728189;
    margin: 5;
}

/*container for first form*/
#form1{
    background-color: #0f4661;
    height: 800px;
    width: 800px;
    margin: auto;
    border: 50px solid #728189;
}

/*opaque bg for form container*/
.first{
    background-color: rgba(26, 33, 73, 0.8);
    border-top: 20px solid #0f4661;
    border-bottom: 20px solid #0f4661;
    height: 750px;
}
/*form headers*/
.first h1{
    margin: 50px 10px 10px 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: center;
}
.first h2{
    margin: 0px 10px 10px 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: center;
}
/*the input fields*/
#inputs1{
    margin: 10px;
    border: 1px solid #0f4661;
    background-color: #1a2149;
    height: 30px;
    width:750px;
    padding: 10px;
}
/*the message field*/
#message{
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid #0f4661;
    background-color: #1a2149;
    width: 750px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
/*the submit button*/
#firstFormSubmitBtn{
    background-color: #1a2149;
    border: 1px solid #e4d00a;
    border-radius: ;
    height: 60px;
    width: 300px;
    margin: 0 250px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    color: #e4d00a;
}

/*thi is how to style the placeholder text color*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

#form2{
    background-color: #1a2149;
    border: 50px solid #728189;
    height: 800px;
    width: 800px;
    margin: auto;
}
#form2 h1{
    text-align: center;
    color: #e0ce00;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    margin-top: 250px;
    margin-bottom: 50px;
}
#second{
    border-radius: 10px;
    width: 750px;
    height: 300px;
    padding: 15px;
    margin: auto;
    background-color: #0f4661;
}
#inputs2, #message2{
    border: 0;
    outline 0;
    border-radius: 8px;
    display: block;
    background-color: #e0ce00;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
    resize: none;
}
#inputs2{
    margin-bottom: 50px;
}
#message2{
    height: 200px;
}
#inputs2::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
    opacity: 1;
}
#inputs2:-ms-input-placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
}
#inputs2::-ms-input-placeholder { 
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
}
#message2::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
    opacity: 1;
}
#message2:-ms-input-placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
}
#message2::-ms-input-placeholder { 
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a2149;
}
.half{
    float: left;
    width: 48%;
    margin-bottom: 1em;
}
.right {
    width: 40%;
}
.left {
    margin-right: 8%; 
}
#btn2{
    display: flex;
    padding: 15px;
}
#submitBtn2{
    margin: auto;
    border: 0;
    border-radius: 10px;
    background-color: #0f4661;
    width: 100%;
    height: 50px;
    color: #e0ce00;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
}

#form3{
    background-color: #e0ce00;
    height: 800px;
    width: 800px;
    margin: auto;
    border: 50px solid #728189;
}
#third{
    background-color: #0f4661;
    height: 700px;
    width: 700px;
    margin: 50px; 
}
#form3 h1, h2{
    margin: 0;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
#form3 h1{
    padding-top: 100px;
    color: #e0ce00;
    font-size: 2.5em;
}
#form3 h2{
    padding-bottom: 50px;
    color: #1a2149;
}
#f3inputs{
    display: flex;
    justify-content: space-evenly;
}
#inputs3{
    width: 250px;
    padding: 1em;
    background-color: #1a2149;
    border: 0;
    outline: 0;
    font-size: 1em;
    color: #e0ce00;
}
#message3box{
    margin: 10px;
    display: flex;
}
#message3{
    width: 580px;
    height: 300px;
    margin: auto;
    padding: 1em;
    background-color: #1a2149;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    color: #e0ce00;
}
#inputs3::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
    opacity: 1;
}
#inputs3:-ms-input-placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
}
#inputs3::-ms-input-placeholder { 
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
}
#message3::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
    opacity: 1;
}
#message3:-ms-input-placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
}
#message3::-ms-input-placeholder { 
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e0ce00;
}
#thirdBtn{
    display: flex;
}
#submitBtn3{
    margin: auto;
    width: 250px;
    padding: 0.5em;
    background-color: #1a2149;
    color: #e0ce00;
    border: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
}

#form4{
    background-color: #1a2149;
    height: 800px;
    width: 800px;
    margin: auto;
    border: 50px solid #728189;
}

#form5{
    background-color: #e0ce00;
    height: 800px;
    width: 800px;
    margin: auto;
    border: 50px solid #728189;
}

footer{
    background-color: #213a45;
    color: #728189;
    text-align: center;
    padding: 10px;
}